.header-img {
  width: 100%;       /* ocupa todo el ancho del card */
  height: auto;      /* se ajusta de alto automáticamente */
}

@media (min-width: 992px) {
  .header-img {
    width: 80%;      /* en escritorio la reducís un poco */
    margin: 0 auto;  /* centrada */
  }
}

body {
  font-family: 'Newsreader', serif;
}
.bg-main{
  background-color:burlywood;
}

.imagen_principal{
  height: 480px;
  width: 480px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 25%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuAi1CIgvWx4nrp3CvfuRpNmyZ-Psx-xp5ZcwJ5_b2TN73tpdfHme6XOMUwDEUg74xd_ImTNPDgZeVCl2ySROh1iBnR5GToXLzswZGylk6KPRtIaxrwe8CfszL_ymsxD9kgtpqDDGiXc76RO_a-mShfw2mwkI2p67rYGpG2Om0CSqSgYMJLPjPLUFiy1eEUtQYh2ezpzfGmXdEzbTEpWbhrz16H3xo-gVOPXQzx9spgQclpmpNH1gxAZzYoDvWxNyjH0SU0V72Wwyg");
  align-self: center;
}